.App {
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #646464;
}

body{
  padding: 0;
  margin: 0;
}

.mat {
  width: 60vh;
  height: 60vh;
  background-color: #f5f5dc;
  border: black 2px solid;
  /* border-radius: 20px; */
  display: flex;
  flex-direction: column;
}

.row {
  flex: 33%;
  display: flex;
  flex-direction: row;
  border: 1px solid black;

}

.square {
  flex: 33%;
  height: 100%;
  border: 1px solid black;
  cursor: pointer;
  display: grid;
  place-items: center;
  font-size: 30px;
  color: black;
  font-family: Roboto;

}

.square:active {
  background-color: #e2e2ae;
}